################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Comments.Domain/obj
/Comments.Domain/bin/Debug/net6.0
/Comments.API/bin/Debug/net6.0
/Comments.API/obj
/Comments.Application/bin/Debug/net6.0
/Comments.Application/obj
/Comments.Persistance/bin/Debug/net6.0
/Comments.Persistance/obj
